{{extend 'plugin_layouts/layouts/Uncomplicated.html'}}

<h4>
    <p>
        Our application works as a calorie counter and diet tracker for weight control. It allows you to keep track of your food and weight, with access to the world's highest quality food and nutrition database.<br>
    </p>


<p>
    The app implements the following features: <br>
    </p>
<ul>
  <li>Food diary to plan and keep track of what you're eating daily. </li>
  <li>Food database with nutrition facts.</li>
  <li>Calculation of suggested nutrition goals based on personal data.</li>
  <li>Possibility to add your own food items to a database</li>
  <li>Possibility to change your personal data followed by updated calculations</li>
</ul>
</h4>
